<div class="container">
  <div class="card login-box" >
    <div class="card-header"><h4 class="form-signin-heading">Login</h4></div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <input type="text" class="form-control"  [(ngModel)]="loginModel.email" placeholder="Email Address" required="" autofocus="" />

        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <input type="password" class="form-control" password-check [(ngModel)]="loginModel.password" placeholder="Password" required=""/>

        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-12">
          <button class="btn btn-lg btn-primary btn-block" (click)="onClickLogin()">Login</button>
        </div>
      </div>

    </div>
  </div>
</div>
