/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.mt-5{
margin-top:2px;
}

.login-box{
width:50%;
margin:20% 10% 10% 30%;
}

.list-box{
width:50%;
margin:10% 10% 10% 30%;
}
